.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;

    z-index: 9;
    background-color: #FFF;

    .navBarContent {
        padding: 20px 40px 20px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        color: #222;

        .logoS {
            font-size: 10px;
            text-transform: uppercase;
        }
    }

    .navLink {}

    .linkQuery {
        display: flex;
        gap: 2rem;
    }

    .menu {
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .menuMobile {
        display: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        cursor: pointer;
    }

    .rMobile {
        display: none;
    }

    .link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 300;
        color: #222;
    }

    .Link {
        color: #222;
    }
}

@media(700px<=width<=1200px) {

    .navBar {

        .navBarContent {
            padding: 20px 10px 20px 10px;
        }

        .navLink {
            background-color: #D9D9D9;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            top: -100vh;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            transition: ease-in-out 1s;
        }

        .navLink.isActive {
            background-color: #D9D9D9;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            top: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            transition: ease-in-out 1s;
        }

        .menu {
            display: none !important;
        }

        .menuMobile {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
            z-index: 1000;
        }

        .linkQuery {
            margin-top: 10vh;
            margin-left: 10vw;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            .Link {
                font-size: 40px;
            }
        }

        .rMobile {
            display: block !important;
            margin-bottom: 2vh;
            padding-left: 2vw;
            padding-right: 2vw;

            .rMobileContent {
                align-items: center;
                display: flex;
                justify-content: space-between;

                .styleF {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 10px;
                    color: #222;
                    text-transform: uppercase;

                    .rs {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 10px;
                        color: #222;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }

                .x-1 {
                    display: flex;
                    gap: 2vw;
                }
            }
        }
    }

}

@media(320px<=width<=700px) {

    .navBar {

        .navBarContent {
            padding: 20px 10px 20px 10px;
        }

        .navLink {
            background-color: #D9D9D9;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            top: -100vh;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            transition: ease-in-out 1s;
        }

        .navLink.isActive {
            background-color: #D9D9D9;
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            top: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100vw;
            height: 100vh;
            transition: ease-in-out 1s;
        }

        .menu {
            display: none !important;
        }

        .menuMobile {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
            z-index: 1000;
        }

        .linkQuery {
            margin-top: 10vh;
            margin-left: 10vw;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

            .Link {
                font-size: 40px;
            }
        }

        .rMobile {
            display: block !important;
            margin-bottom: 2vh;
            padding-left: 2vw;
            padding-right: 2vw;

            .rMobileContent {
                align-items: center;
                display: flex;
                justify-content: space-between;

                .styleF {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 10px;
                    color: #222;
                    text-transform: uppercase;

                    .rs {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 10px;
                        color: #222;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                }

                .x-1 {
                    display: flex;
                    gap: 2vw;
                }
            }
        }
    }

}